#snakeBox{

 border : 1px solid black;
 border-radius: 25px;
 background-color: #1E1E1E;
 width: 400px;
 height: 400px;
}
body{
  background-color:#141414;
  color: #DCDCDC;
  font-family: "VT323", monospace;
  display:flex;
  flex-direction: column;
  align-items:center;

  margin: 0;
}
.score{
  font-weight: 400;
  font-size: 1.5rem;
  display:flex;
  justify-content:space-between;
  gap: 10em;
}
#logo{
  display:block;
  position: absolute;
  top: 250px;
}

